.wrapper {
	width: 960px;
	margin: 0 auto;
}

h1 {
	font-family: 'Sorts Mill Goudy', serif;
	width: 100%;
	display: block;
	padding: 24px 0;
	font-size: 50px;
	text-align: center;
}

.info {
	width: 300px;
	height: 60px;
	margin: 0 auto;
}

.info ol {
	list-style: decimal inside;
}

.info ol li {
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
	text-align: center;	
}

.content1 {
	width: 400px;
	height: 300px;
	overflow: auto;
	margin: 60px auto;
}

.content2 {
	width: 800px;
	height: 150px;
	overflow: auto;
	margin: 60px auto;
}

.content3 {
	width: 100px;
	height: 600px;
	overflow: auto;
	margin: 60px auto;	
}